* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --backG: #ffffff;
  --text: #282829;
  --icon: #636466;
  --otherBackground: #efefef;
  --buttonsLight: #b92b27;
  --buttonsDark: #a72420;
  --links: #3e74ff;
  --address: #7b7a7a;
}

/* html,
body {
  margin: 0;
  padding: 0;
} */
body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text);
}

#wrapper {
  display: flex;
  flex-direction: column;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100vw;
  background-color: var(--backG);
}

.container {
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quora img {
  height: 90px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.search {
  height: 35px;
  width: 325px;
  border: 1px solid #dee0e1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.tryQuora {
  /* height: 30px; */
  /* width: 100px; */
  margin: 0px 8px;
  padding: 8px 13px;
  border: 1px solid #dee0e1;
  border-radius: 50px;
  font-size: 13px;
}
/* my code here */
main {
  background-color: var(--otherBackground);
  overflow-y: auto;
  overflow-x: hidden; /*where to put this*/
  display: flex;
  justify-content: center;
}
.mainContent {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  width: 65rem;
  border: 1px solid red;
  overflow-y: auto;
  overflow-x: hidden; /*where to put this */
}
.left {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--address);
  width: 18%; /* 18% */
}
.leftupper {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* justify-content: space-evenly; */
  /* align-items: center; */
  /* height: 62%; */
  /* width: 30%; */
}
/* .leftupper ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
} */
.createSpace {
  text-align: center;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: #e6e5e5;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  color: var(--icon);
  display: flex;
  align-items: center;
  gap: 8px;
}
.createSpace span:nth-child(1) {
  font-size: 1.3rem;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.image {
  /* width: 70%; */
  /* height: 8%; */
  /* padding:15px; */
  /* padding-left: -17px; */

  display: flex;
  padding: 8px;
  /* justify-content:center; */
  align-items: center;
  /* padding: 2%; */
  /* margin:5px;  */
}
.image img {
  width: 20px;
}

.image a {
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--icon);
}
.hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d4d4d4;
}
.hov:hover {
  background-color: #d9dbde; /*var(--icon) #c7c9cd;*/
  /* transition: 0.3s all ease-in-out; */
  border-radius: 3px;
  cursor: pointer;
  /* padding:10px; */
}
.leftLower {
  /* border: 1px solid greenyellow; */
}
.leftLowerC {
  text-align: start;
}
.leftLowerC a {
  display: inline;
  font-size: 0.8rem;
  color: #979696;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  border: 1px solid blueviolet;
  width: 100%; /*wha tto add here rem or 100*/
  border-radius: 5px; /*if this is required */
}
.rightUpper {
  border: 1px solid orangered;
  padding: 15px;
  background-color: white;
  width: 100%; /*should i add this*/
  border-radius: 5px;
}
.inputs {
  display: flex;
  justify-content: space-evenly;
}
.inputs input {
  padding: 5px;
  width: 85%;
  border: 1px solid #979696;
  border-radius: 17px;
  font-size: 1rem;
  color: #979696;
  background-color: var(--otherBackground);
}
.inp input {
  color: #979696;
}
.inp:hover {
  transition: 0.3s;
  background-color: #e5e5e6; /* #e9e9ea*/
}
.icones {
  /* border: 1px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 7px;
  padding-bottom: 0px;
  font-size: 1.5rem;
}
.text {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 90px;
  padding-right: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
.text p {
  font-size: 1rem;
}
.hovv:hover {
  background-color: #efefefc0; /*#f0ededc0;*/

  transition: 0.3s;
  border-radius: 10px;
}
.rightLower {
  border: 1px solid green;
  display: flex;
  flex-direction: column;
  gap: 7px;
  background-color: white;
  border-radius: 5px;
}
.profiling {
  /* border: 1px solid palevioletred; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
}
.leftProfile {
  display: flex;
}
.account {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.name h4 {
  display: inline;
  font-weight: 600;
}
.follow {
  color: #3e74ff;
}
.address {
  padding-top: 5px; /*for that space in between the lines*/
}
.address p {
  display: inline;
  color: var(--address);
  font-size: 0.9rem;
}
.photo {
  padding-right: 5px;
}
.cross {
  padding: 10px;
}
.btn {
  border: none;
}
.question {
  /* border:1px solid burlywood; */
  /* margin-top: 0px; */
  padding-left: 10px;
  padding-right: 10px;
}
.answer {
  /* border:1px solid olive; */
  padding-left: 10px;
  padding-right: 10px;
}
.picture {
  background-color: #9d9ea2;
  display: flex;
  justify-content: center;
  background-size: cover;
}
