* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --backG: #ffffff;
  --text: #282829;
  --icon: #636466;
  --otherBackground: #efefef;
  --buttonsLight: #b92b27;
  --buttonsDark: #a72420;
  --links: #3e74ff;
  --address: #7b7a7a;
  --border1: #d9dbde;
  --boxShadow1: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background: #efefef;
}

a {
  text-decoration: none;
  color: var(--text);
}

button {
  cursor: pointer;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

header * {
  border: 1px solid red;
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100vw;
  background-color: var(--backG);
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.quora img {
  height: 90px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.search {
  height: 35px;
  width: 325px;
  border: 1px solid #dee0e1;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search input {
  width: 100%;
  height: 100%;
  border: none;
}

.extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

.tryQuora {
  /* height: 30px; */
  /* width: 100px; */
  margin: 0px 8px;
  padding: 8px 13px;
  border: 1px solid #dee0e1;
  border-radius: 50px;
  font-size: 13px;
}
/* my code here */
main {
  background-color: var(--otherBackground);
  overflow-y: auto;
  overflow-x: hidden; /*where to put this*/
  display: flex;
  justify-content: center;
}
.mainContent {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  width: 65rem;
  overflow-y: auto;
  overflow-x: hidden; /*where to put this */
}
.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--address);
  width: 18%; /* 18% */
}
.leftupper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.createSpace {
  text-align: center;
  border-radius: 7px;
  padding: 5px 10px;
  background-color: #e6e5e5;
  font-size: 0.85rem;
  border: none;
  cursor: pointer;
  color: var(--icon);
  display: flex;
  align-items: center;
  gap: 8px;
}
.createSpace span:nth-child(1) {
  font-size: 1.3rem;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.image {
  display: flex;
  padding: 8px;
  align-items: center;
}
.image img {
  width: 20px;
}

.image a {
  margin-left: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--icon);
}
.hr {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #d4d4d4;
}
.hov:hover {
  background-color: #d9dbde; /*var(--icon) #c7c9cd;*/
  border-radius: 3px;
  cursor: pointer;
}

.leftLowerC {
  text-align: start;
}
.leftLowerC a {
  display: inline;
  font-size: 0.8rem;
  color: #979696;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* border: 1px solid blueviolet; */
  width: 60%; /*wha tto add here rem or 100*/
  border-radius: 5px; /*if this is required */
}
.rightUpper {
  border: 1px solid var(--border1);
  padding: 10px;
  background-color: white;
  width: 100%; /*should i add this*/
  border-radius: 3px;
  box-shadow: var(--boxShadow1);
}
.inputs {
  display: flex;
  gap: 10px;
}
.inputs button {
  padding: 4px 8px;
  width: 100%;
  border: 1px solid #b9b9b9;
  border-radius: 17px;
  font-size: 14px;
  color: black;
  outline: none;
  text-align: left;
  color: var(--icon);
  background-color: var(--otherBackground);
}

.inp:hover {
  transition: 0.3s;
  background-color: #e5e5e6; /* #e9e9ea*/
}
.icones {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
  padding-top: 7px;
  padding-bottom: 0px;
  font-size: 1.5rem;
}
.text {
  padding-top: 8px;
  padding-bottom: 8px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}
.text i {
  color: var(--icon);
  font-size: 16px;
}
.text p {
  font-size: 15px;
  text-transform: capitalize;
}
.hovv:hover {
  background-color: #efefefc0; /*#f0ededc0;*/

  transition: 0.3s;
  border-radius: 8px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid var(--border1);
  background-color: white;
  border-radius: 3px;
  box-shadow: var(--boxShadow1);
}
#inputForm_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #b9b9b9;
}
#inputForm_header button {
  font-size: 15px;
  font-weight: 600;
  color: rgb(252, 76, 76);
  outline: none;
  border: none;
  padding: 2px 5px;
  border-radius: 4px;
}

#inputForm_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#inputForm_content button {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 4px;
  background: var(--buttonsLight);
  color: white;
  font-weight: 500;
  font-size: 15px;
}
#inputForm_content button:hover {
  background: var(--buttonsDark);
}

.inputForm_title {
  font-weight: 600;
  font-size: 14px;
  color: rgb(105, 105, 105);
}

.inputForm input,
textarea {
  padding: 5px;
  width: 100%;
  border: 1px solid #b9b9b9;
  border-radius: 3px;
  font-size: 14px;
  color: black;
  outline: none;
  text-align: left;
  background-color: var(--otherBackground);
}

.inputForm input:focus,
textarea:focus {
  outline: rgb(189, 189, 189) solid 1px;
}

.inputForm div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.view {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rightLower {
  border: 1px solid var(--border1);
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: white;
  border-radius: 3px;
  box-shadow: var(--boxShadow1);
}
.profiling {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.leftProfile {
  display: flex;
  gap: 5px;
}
.account {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.name h4 {
  display: inline;
  font-weight: 600;
}
.follow {
  color: #3e74ff;
  font-size: 14px;
  font-weight: 600;
}
.address {
  padding-top: 5px; /*for that space in between the lines*/
}
.address p {
  display: inline;
  color: var(--address);
  font-size: 0.9rem;
}
.photo {
  /* padding-right: 5px; */
  width: 35px;
  height: 35px;
}
.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.btn {
  border: none;
}

.post_content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  color: var(--text);
}
.post_content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}
.post_content p {
  font-size: 15px;
  line-height: 21px;
}

.picture {
  background-color: #9d9ea2;
  display: flex;
  justify-content: center;
  background-size: cover;
  width: 100%;
  max-height: 500px;
}
.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
